@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
  font-family: "Inter", sans-serif;
  color: #ededed;
  background-color: #121212;
}

@layer components {
  .boxed-list {
    @apply lg:w-1/6 min-w-fit w-full block text-center ring rounded-md ring-gray-50
      m-4 p-4;
  }
}
